.card__image {
  height: 413px;
  width: 100%;
  object-fit: cover;
  display: block;
  border-radius: 8px;
}

.card__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title {
  white-space: nowrap;
  max-width: 315px;
  font-size: 20px;
  line-height: 1.2;
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 12px 0 4px;
  color: #212121;
}

.card__like-btn {
  background-image: url(../images/like.svg);
  width: 23px;
  height: 20px;
  border: none;
  background-color: transparent;
  opacity: 0.4;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: auto;
}

.card__like-btn:hover {
  opacity: 1;
  cursor: pointer;
}

.card__like-btn_liked {
  background-image: url(../images/Union.svg);
  opacity: 1;
}

.card__like-btn_liked:hover {
  background-image: url(../images/likednew.svg);
}

.card__delete-btn {
  background-image: url(../images/bin.svg);
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  top: 50px;
  left: 371px;
  cursor: pointer;
}

.card__delete-btn:hover {
  background-image: url(../images/binhover.svg);
}

@media screen and (max-width: 627px) {
  .card__image {
    height: 288px;
  }

  .card__title {
    font-size: 16px;
    line-height: 1;
    margin: 12px 0 2px;
  }
}
